[Unit] Description=NavBox GPS Controller Service After=network.target

[Service] ExecStart=/mdt/home/navbox/venv/bin/python3 /mdt/home/navbox/main.py WorkingDirectory=/mdt/home/navbox Restart=always User=navbox Group=navbox

[Install] WantedBy=multi-user.target